body{
	width: 100%;
	margin: auto;
	padding: 0px;
	text-align: center;
}

div.header{
	position: sticky;
	top: 0;
	background: red;
	z-index: 1000;
}

div.main{ 
	background: blue;
}

div.footer{
	background: green;
}

h1 {
	margin: 0px;
}

#map {
	margin: auto;
	height: 580px;
	width: 95%;
	z-index: 100;
}

#graph { 
	margin: auto; 
	height: 580px;
	width: 95%;
	background: brown;
}

#textbox {
	margin: auto;
	height: 580px;
	width: 95%;
	background: yellow;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px; 
	  z-index: 100;
} 

.info h4 {
    margin: 0 0 5px;
    color: #777;
 }
 
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}